/*Menu header*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


h1 {
    text-align: center;
    padding: 18 px;
    font-weight: bold;
}


h2 {
    text-align: left;
    padding:  14px;
    font-weight: normal;
    background-color: #BBBBBB;
}




p {
    text-align: justify;
    padding: 14px;
}

/* DJANGO ALERTS
 */


.errorlist {
    color: red;
    font-weight: bold;
}


.alert-success {
    color:green;
    font-weight: bold
}

/*
 * DJANGO FORM TABLES
 */
    /*padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;*/

