
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Author details" %}</h1>
   {% include "objects/author.html" with author=author only %}
  <p>
{% if perms.books.change_author%}
  <a href="{% url 'author-edit' pk=author.id %}">{% trans "Update" %}</a>
{% endif %}
{% if perms.books.delete_author%}
  <a href="{% url 'author-delete' pk=author.id %}">{% trans "Delete" %}</a>
{% endif %}
  
  <h2>{% trans "Books" %}</h2>
  <p>
{% if perms.books.add_book %}
  <a href="{% url 'book-add' author_id=author.id %}">{% trans "Add a book" %}</a>
{% endif %}
    {% for book in books %}
       {% include "objects/book.html" with book=book only %}
    {% endfor %}
{% endblock %}
