
{% extends 'base.html' %}
{% load i18n %}
{% load mytranslation %}

{% set_language user.profile.language%}

{% block head %}
<title>My Library > {% trans "Author details" %} </title>
{% endblock %}

{% block content %}
    <h1>{% trans "Author details" %}</h1>
   {% include "objects/author.html" with author=author only %}
  <p>
  <a href="{% url 'author-edit' pk=author.id %}">{% trans "Update" %}</a>
  <a href="{% url 'author-delete' pk=author.id %}">{% trans "Delete" %}</a>
  
  <h2>{% trans "Books" %}</h2>
    {% for book in books %}
       {% include "objects/book.html" with book=book only %}
    {% endfor %}
{% endblock %}
