
{% extends 'base.html' %}
{% load i18n %}
{% load mytranslation %}

{% set_language user.profile.language%}

{% block head %}
<title>My Library > {% trans "Author details" %} </title>
{% endblock %}

{% block content %}

  <h1>{% trans "Author" %}: {{ author.name }} {{ author.family_name }}</h1>

  <p><strong>{% trans "Birth" %}: </strong> {{ author.birth }}</a></p> 
  <p><strong>{% trans "Death" %}: </strong> {{ author.death }}</a></p> 
  <p><strong>{% trans "Gender" %}: </strong> {{ author.get_gender_display }}</a></p> 
  
  <a href="{% url 'author-edit' pk=author.id %}">{% trans "Update" %}</a>
  <a href="{% url 'author-delete' pk=author.id %}">{% trans "Delete" %}</a>
  
  <h2>{% trans "Books" %}</h2>
    {% for book in books %}
       {% include "objects/book.html" with book=book only %}
    {% endfor %}
{% endblock %}
