{% load i18n %}
{% load mytranslation %}
{% set_language request.user.profile.language %}


{% if author %}
    <p><strong>{% trans "Author" %}: </strong><a href="{% url 'author-read' author.id %}">{{ author }}</a></p>
{% endif %}
{% if book %}
    <p><strong>{% trans "Book" %}: </strong><a href="{% url 'book-read' book.id %}">{{ book.title }} ({{book.year}})</a></p>
{% endif %}

<p><strong>{% trans "User" %}: </strong>{{ valoration.user }}</p>
<p><strong>Read took place from: </strong>{{ valoration.read_start }}<strong> to </strong>{{ valoration.read_end }} ( {{ valoration.read_took }} days ) </p>
<p><strong>Valoration [0-100]: </strong> {{ valoration.valoration }}</p>
<p><strong>Comment: </strong> {{ valoration.comment }}</p>
<hr>
