{% autoescape off %}
Hi {{ user.username }},

Please click on the link below to confirm your registration:

http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
{% endautoescape %}
{% extends 'base.html' %}

{% load i18n %}
{% load mytranslation %}
{% set_language user.profile.language %}

{% block content %}
  <h1>{% trans "Account verification" %}</h1>
  <p>{% trans "A mail have been sent to your signup email address. Please confirm it, clicking the url sent in that message." %}</p>
{% endblock %}
