<!DOCTYPE html>
<html>
{% load i18n %}
{% load mytranslation %}
{% set_language request.user.profile.language %}

{% load static %}

{# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home{% endblock title %}</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{% static "favicon.ico" %}">
        {% endblock head_favicon %}

        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}

            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}

            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}

        {% block head_css %}
            {% block head_css_site %}
                <link rel="stylesheet" type="text/css" href="{% static "mystyles.css" %}">
            {% endblock head_css_site %}

            {% block head_css_section %}
            {% endblock head_css_section %}

            {% block head_css_page %}
            {% endblock head_css_page %}
        {% endblock head_css %}
    </head>
<body>

<div class="container">
<div class="header">
<ul class="nav-ul">
  <li class="nav-li"><a href="/home/">{% trans "Home" %}</a></li>
  <li class="nav-li"><a href="/database">{% trans "All database" %}</a></li>
  <li class="nav-li"><a href="/valorations/">{% trans "Valorations" %}</a></li>
  <li class="nav-li"><a href="/profile/">{% trans "Settings" %}</a></li>
    {% if request.user.is_superuser %}
        <li class="nav-li"><a href="/admin/">{% trans "Administration" %}</a></li>
    {% endif %}
  <li class="nav-li"><a href="/logout/">{% trans "Logout" %} {{ user.username|upper }}</a></li>
</ul>
</div>

<div class="sidebar">
{% block sidebar %}
<ul class="sidebar-ul">
  <li class="sidebar-li"><a href="/home/">{% trans "Home" %}</a></li>
  <li class="sidebar-li"><a href="/database">{% trans "All database" %}</a></li>
  <li class="sidebar-li"><a href="/valorations/">{% trans "Valorations" %}</a></li>
  <li class="sidebar-li"><a href="/profile/">{% trans "Settings" %}</a></li>
    {% if request.user.is_superuser %}
        <li class="sidebar-li"><a href="/admin/">{% trans "Administration" %}</a></li>
    {% endif %}
  <li class="sidebar-li"><a href="/logout/">{% trans "Logout" %} {{ user.username|upper }}</a></li>
</ul>
    <p>Desarrollado por Turulomio</p>

{% endblock sidebar %}
</div>

<div class="content">
{% block content %}
{% endblock content %}
</div>
</div>
</body>
</html>
