{% extends "base.html" %}

{% load i18n %}
{% load mytranslation %}
{% set_language user.profile.language %}

{% block content %}
<h1>{% trans "Library database" %}</h1>
    <h2>{% trans "Authors" %}</h2>
    <ul>
        {% for author in authors %}
            <li><a href="/books/author/{{ author.id }}">{{ author }}</a> ( <a href="/books/author/{{ author.id }}/delete/">{% trans "Delete" %}</a> )</li>
        {% endfor %}
    </ul>

    <h2>{% trans "Books" %}</h2>
    <ul>
        {% for book in books %}
            <li><a href="/books/book/{{ book.id }}">{{ book }}</a> ( <a href="/books/book/{{ book.id }}/delete/">{% trans "Delete" %}</a> )</li>
        {% endfor %}
    </ul>

{% endblock %}

