{% extends "base.html" %}

{% load i18n %}
{% load mytranslation %}
{% set_language user.profile.language %}

{% block content %}
<h1>{% trans "Library database" %}</h1>
    <h2>{% trans "Authors" %}</h2>
        {% autoescape off %}
        {{ tableeasy_authors.render }}
        {% endautoescape %}
<br>
    <h2>{% trans "Books" %}</h2>
        {% autoescape off %}
        {{ tableeasy_books.render }}
        {% endautoescape %}
<br>
    <h2>{% trans "Valorations" %}</h2>
        {% autoescape off %}
        {{ tableeasy_valorations.render }}
        {% endautoescape %}

{% endblock %}

