<!DOCTYPE html>
<html>
{% load i18n %}
{% load mytranslation %}
{% set_language user.profile.language%}

    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home{% endblock title %}</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <link href="{{ STATIC_URL }}css/bootstrap.min.css"
                      rel="stylesheet" media="screen">
                <link href="{{ STATIC_URL }}css/app.css"
                      rel="stylesheet" media="screen">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>
<body>
<div class="login_string">
    {% trans "Wellcome" %} {{ user.username|upper }} / <a href="/home/"> {% trans "Home" %} </a> / <a href="/admin/"> {% trans "Administration" %} </a> / <a href="/profile/edit/"> {% trans "Settings" %} </a> / <a href="/logout/"> {% trans "Logout" %} </a>
</div>
</form>

{% block content %}
{% endblock %}

<p> Current language is {{user.profile.language}}</p>
</body>
</html>

1