<!DOCTYPE html>
<html>
{% load i18n %}
{% load mytranslation %}
{% set_language request.user.profile.language %}
{% load sitetree %}

{% load static %}

{# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home{% endblock title %}</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{% static "favicon.ico" %}">
        {% endblock head_favicon %}

        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}

            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}

            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}

        {% block head_css %}
            {% block head_css_site %}
                <link rel="stylesheet" type="text/css" href="{% static "mystyles.css" %}">
                <link rel="stylesheet" type="text/css" href="{% static "jquery-ui.css" %}">

                <link rel="stylesheet" type="text/css" href="{% static "django_tables2/bootstrap.css" %}">
                <link rel="stylesheet" type="text/css" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}">
                <link rel="stylesheet" type="text/css" href="{% static "table_easy.css" %}">


            {% endblock head_css_site %}

            {% block head_css_section %}
            {% endblock head_css_section %}

            {% block head_css_page %}
            {% endblock head_css_page %}
        {% endblock head_css %}
                <script type="text/javascript" src="{% static "jquery.js" %}"></script>
                <script type="text/javascript" src="{% static "jquery-ui.js" %}"></script>
                <script type="text/javascript" src="{% static "jquery_my.js" %}"></script>
                <script type="text/javascript" src="{% static "table_easy.js" %}"></script>
                <script type="text/javascript" src="{% static "sitetree.js" %}"></script>
                
    </head>
<body>

<div class="layHorizontal">
<div class="sidebar">
    <p class="title">{% trans "MY BOOKS LIBRARY" %}</p>
    <p class="title"><img src="{% static "book.png" %}" height="50px" width="50px"/></p>
    <div class="sitetree_menu">
    <p><a href="#" id="tree-expand-all">Expand all</a> | <a href="#" id="tree-collapse-all">Collapse all</a></p>
        {% sitetree_menu from "maintree" include "trunk,topmenu" %}
    </div> {# sitetree_menu #}
<center>Desarrollado por Turulomio</center>
</div>{# sidebar#}

<div class="layVertical">

<div class="header">
<ul class="nav-ul">
  <li class="nav-li"><a href="/logout/">{% trans "Logout" %} {{ user.username|upper }}</a></li>
    {% if request.user.is_superuser %}
        <li class="nav-li"><a href="/admin/">{% trans "Administration" %}</a></li>
    {% endif %}
  <li class="nav-li"><a href="/profile/">{% trans "Settings" %}</a></li>
  <li class="nav-li"><a href="/database">{% trans "All database" %}</a></li>
  <li class="nav-li"><a href="/home/">{% trans "Home" %}</a></li>
</ul>
</div> {# header #}

<div class="breadcrumbs">
    {% sitetree_breadcrumbs from "maintree" %}
</div> {#breadcrumbs#}

<div class="content">
{% block content %}
{% endblock content %}
<p>
</div> {# content #}
</div> {# layVertical #}
</div> {# layHorizontal #}
{% sitetree_tree from "mytree" %}
</body>
</html>
