{% extends 'base.html' %}
{% load i18n %}
{% load mytranslation %}
{% set_language user.profile.language%}

{% block content %}
    <h1>{% trans "Querys menu" %}</h1>
    <ol>
        <li><a href="/authors">{% trans "Interactive query" %} 1</a>
        <li><a href="/database">{% trans "All database" %}</a>
        <li><a href="/books/book/">{% trans "Adds a new book" %}</a>
        <li><a href="/books/author/new/">{% trans "Adds a new author" %}</a>
        <li><a href="/books/author/1/">{% trans "View first author" %}</a>
    </ol>
{% endblock %}

