{% extends 'base.html' %}

{% load i18n %}

{% block head %}
<title>My Library > {% trans "Settings" %}</title>
{% endblock %}

{% block content %}
    <h1>{% trans "Settings" %}</h1>
    <h2>{% trans "User profile" %}</h2>
    <p>{% trans "Set profile data and select your prefered language:" %}</p>
    <form method="post" class="form_table">
        <table>
        {% csrf_token %}
        {{ user_form.as_table }}
        {{ profile_form.as_table }}
        </table>
        <button type="submit" name="button_profile">{% trans "Save profile changes" %}</button>
    </form>
    {% if user_form.is_valid or profile_form.is_valid %}
        {% include "messages.html" %}
    {% endif %}
   
    <p></p>
    <h2>{% trans "Change password" %}</h2>
    <p>{% trans "If you wish you can change your password here:" %}</p>
    <form method="post" class="form_table">
        <table>
        {% csrf_token %}
        {{ change_password_form.as_p }}
        </table>
        <button type="submit" name="button_password">{% trans "Change password" %}</button>
    </form>
    {% if change_password_form.is_valid %}
        {% include "messages.html" %}
    {% endif %}
{% endblock %}
