{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load mytranslation %}
{% set_language user.profile.language %}

{% block content %}
  <h1>{% trans "Sign up" %}</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% autoescape off %}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% endautoescape %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">{% trans "Sign up" %}</button>
</form>
{% endblock %}

