{% extends 'base_chartjs.html' %}

{% load i18n %}

{% block content %}
	<h1>{% trans "Global statistics" %}</h1>
	<p>{% blocktrans %} Your average book reading time is {{ avg_reading_time_user }} days.{% endblocktrans %}</p>
    <h2>{% trans "Registers" %}</h2>
    
	<div id="canvas-holder" style="width:40%">
		<canvas id="chart-area"></canvas>
	</div>
	<script>
		var config = {
			type: 'pie',
			data: {
				datasets: [{
					data: [
						{{books}},
						{{authors}},
						{{valorations}},
					],
					backgroundColor: [
						 'rgb(255, 99, 132)',
                          'rgb(132, 255, 99)',
                           'rgb(99, 132, 255',
					],
					label: 'Dataset 1'
				}],
				labels: [
					'Books',
					'Authors',
					'Valorations',
				]
			},
			options: {
				responsive: true
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('chart-area').getContext('2d');
			window.myPie = new Chart(ctx, config);
		};
</script>

{% endblock %}
