{% extends 'base_chartjs.html' %}

{% load i18n %}

{% block content %}
	<h1>{% trans "Global statistics" %}</h1>	
	{% if avg_reading_time_user %}
		<p>{% blocktrans %} Your average book reading time is {{ avg_reading_time_user }} days.{% endblocktrans %}</p>
	{% endif %}
	
		
	<h2>{% trans "Registers" %}</h2>

	<div class="chart_js" style="width:50%">
		<canvas id="chart_1"></canvas>
	</div>

	{% if valorations_by_year %} <!-- If no end books, it can't show chart -->
	<h2>{% trans "Books read by all users" %}</h2>

	<div class="chart_js" style="width: 50%;">
		<canvas id="chart_2"></canvas>
	</div>
	{% endif %}
	<script>
		window.onload = function() {
			var ctx_1 = document.getElementById('chart_1').getContext('2d');
			window.myPie = new Chart(ctx_1, {
				type: 'pie',
				data: {
					datasets: [{
						data: [
							{{books}},
							{{authors}},
							{{valorations}},
						],
						backgroundColor: [
							'rgb(255, 99, 132)',
							'rgb(132, 255, 99)',
							'rgb(99, 132, 255',
						],
						label: 'Registers pie'
					}],
					labels: [
						'Books',
						'Authors',
						'Valorations',
					]
				},
				options: {
					responsive: true
				}
			});

			{% if valorations_by_year %} <!-- If no end books, it can't show chart -->
			var ctx_2 = document.getElementById('chart_2').getContext('2d');
			window.myBar = new Chart(ctx_2, {
				type: 'bar',
				data: {
					labels: {{years_by_year}},
					datasets: [{
						label: 'Books finished',
						backgroundColor: 'rgb(255, 99, 132)',
						borderColor: 'rgb(255, 99, 132)',
						borderWidth: 1,
						data: {{valorations_by_year}}
					},]},
				options: {
					responsive: true,
					legend: {
						position: 'right',
					},
				}
			});
			{% endif %}
		};

	</script>

{% endblock %}
