
body {
    margin: 0px;
}

label {
    font-weight:bold;
}

button {
    padding: 3px;
}

h1 {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: left;
    font-weight: bold;
    color:#333333;
}


h2 {
    text-align: left;
    font-weight: bold;
    color: #444444;
}

p.normal {
    text-align: justify;
    padding: 2px;
}

p.title, p.title > a {
    color: white;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    font-size: 130%;
    line-height: 1.5;
}
p.version {
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding-top: 0px;
    line-height: 0.1;
    font-size: 80%;
}

p.github, p.github > a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
    font-size: 90%;
    line-height: 1;
}

p.object{
    text-decoration: none;
    background-color: transparent;
    text-align: justify;
    padding-top: 0px;
    font-size: 100%;
    line-height: 120%;
    margin-bottom: 0rem;
}

/* DJANGO ALERTS
 */
.errorlist {
    color: red;
    font-weight: bold;
}


.alert-success {
    color:green;
    font-weight: bold
}

/*
 * DJANGO FORM TABLES
 */

form.languages{
    background: None;
    border: None;
    padding: 0px;	
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;	
    display: inline;
    text-align: center;   
}

form.search{
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

form{
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}








form.big{
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: auto;
    margin-right: auto;
    display: block;
}


form.big > table  {
    padding: 8px;	
    width: 100%;

}


table td input {
    width: 100%;   
   }
/* To debug
td {
    border: 1px solid black;
  }
*/




/* DIVS */

/* FOR DESKTOPS */
@media all and (min-width: 800px){
    div.layHorizontal {
        background: linear-gradient(#333333,#AAAAAA);
        padding: 0px;
        margin: 0px;
        line-height: 1;
        display: flex;
        flex-direction: row;

    }

    div.sidebar{
        color: white;
        font-weight:bold;
        text-decoration: none;
        overflow-y:none;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    div.layVertical {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        flex-grow: 4;

    }


    div.header{
        font-weight:bold;
        top: 0;
        display: flex;
        flex-direction: row-reverse;
        padding: 7px;
    }


    div.content {
        padding-left: 20px;
        padding-right: 20px;
        overflow-y: auto;
        background-color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        flex-grow:4;
    }
}

/* FOR MOBILES */
@media all and (max-width: 800px){
    div.layHorizontal {
        background: linear-gradient(#333333,#AAAAAA);
        padding: 0px;
        margin: 0px;
        line-height: 1;
        display: flex;
        flex-direction: column;

    }

    div.sidebar{
        color: white;
        font-weight:bold;
        text-decoration: none;
        overflow-y:none;
        padding: 20px;
    }

    div.layVertical {
        padding: 0px;
        margin: 0px;

    }


    div.header{
        font-weight:bold;
        top: 0;
        display: inline-flex;
        flex-direction: column-reverse;
        padding: 7px;
        line-height: 1.5;
    }


    div.content {
        padding: 20px;
        overflow-y: auto;
        background-color: white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        flex-grow:4;
    }
}


div.headeritem > a  {
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size:110%;
}


div.headeritem > a:hover {
    color: orangered;
    background-color: transparent;
    font-size:110%;
}




/* Bootstrap minified CSS included as External Resource*/
.nav_level_1{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:110%;
    line-height:140%;
}

.nav_level_1 a{
    color: white;
    font-weight: bold;
    display: block;
    font-size:110%;
    line-height:140%;
}

.nav_level_2{
    list-style-type: disc;
    display: block;
    font-size:100%;
    line-height:120%;
}

.nav_level_2 li {
    padding-left: 30px;
    display: block;
    font-size:100%;
    line-height:120%;
}

.nav_level_2 a {
    color: #DFDFDF;
    font-weight: bold;
    display: block;
    font-size:100%;
    line-height:120%;
}

.nav_level_3{
    list-style-type: square;
    display: block;
    font-size:90%;
    line-height:100%;
}

.nav_level_3 li {
    padding-left: 30px;
    display: block;
    font-size:90%;
    line-height:100%;
}

.nav_level_3 a {
    color: #BFBFBF;
    font-weight: bold;
    display: block;
    font-size:90%;
    line-height:100%;
}

a.Selected{
    color: orange
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    display: block;
}

.nav_level_1 a:hover {
    color: orangered;
    background-color: transparent;
    display: block;
}



/* Author */


.Author {
    background: linear-gradient(#D5D5F0, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
}

.Author img{
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  text-align: center;
}


/* Book */
.Book {
    background: linear-gradient(#D5F0D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
}

.Book img{
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  text-align: center;
}

/* Valoration */


.Valoration {
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
}

.Valoration > .objects{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Valoration > .buttons{
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Valoration img{
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  text-align: center;
}

