
/*Menu header*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-li {
    float: right;
    padding: 0px;
}

.nav-li a, .nav-title a {
    display: inline-block;
    color: white;
    padding: 7px 7px;
    text-decoration: none;
}


h1 {
    padding-top: 40px;
    text-align: left;
    font-weight: bold;
    color:#333333;
}


h2 {
    text-align: left;
    font-weight: bold;
    color: #444444;
}

p.normal {
    text-align: justify;
    padding: 2px;
}

p.title {
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
    font-size: 130%;
}

p.title > a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    font-size: 130%;
    background-color: transparent;
}
p.github{
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
    font-size: 80%;
}

p.github > a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    font-size: 80%;
    background-color: transparent;
}

/* DJANGO ALERTS
 */
.errorlist {
    color: red;
    font-weight: bold;
}


.alert-success {
    color:green;
    font-weight: bold
}

/*
 * DJANGO FORM TABLES
 */
form {
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}


div.layVertical {
    display: grid;
    grid-template-columns:100%;
    padding: 0px;
    margin: 0px;

}

div.layHorizontal {
    background: linear-gradient(#333333,#AAAAAA);
    display: grid;
    grid-template-columns: 25vw 75vw;
    padding: 0px;
    margin: 0px;

}

div.header{
    color: white;
    font-weight:bold;
    top: 0;
    height: 5vh;
    position:sticky;
}

div.sidebar{
    color: white;
    font-weight:bold;
    text-decoration: none;
    height:100vh;
    overflow-y:auto;
}

div.content {
    top: 5vh;
    left: 25vw;
    height: 95vh;
    overflow-y: auto;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: white;
    border-radius: 28px;
}


body {
    margin: 0px;
}

label {
    font-weight:bold;
}


/* Bootstrap minified CSS included as External Resource*/
.nav_level_1{
    list-style-type: circle;
    line-height:120%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:130%;
}

.nav_level_1 a{
    color: white;
    font-weight: bold;
    display: block;
}

.nav_level_2{
    list-style-type: disc;
    line-height:110%;
    display: block;
}

.nav_level_2 li {
    padding-left: 30px;
    display: block;
}

.nav_level_2 a {
    color: #DFDFDF;
    font-weight: bold;
    font-size:110%;
    display: block;
}

.nav_level_3{
    list-style-type: square;
    line-height:100%;
    display: block;
}

.nav_level_3 li {
    padding-left: 30px;
    display: block;
}

.nav_level_3 a {
    color: #BFBFBF;
    font-weight: bold;
    font-size:100%;
    display: block;
}


/*Usa el modo developer de firfox capuyo*/
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    display: block;
}

.nav_level_1 a:hover {
    color: orange;
    background-color: transparent;
    display: block;
}



/* Author */


.Author {
    background: linear-gradient(#D5D5F0, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
}

.Author img{
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  text-align: center;
}


/* Book */
.Book {
    background: linear-gradient(#D5F0D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
}

.Book img{
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  text-align: center;
}

/* Valoration */


.Valoration {
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: block;
}

.Valoration img{
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  text-align: center;
}

