.TableEasyDiv {
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.TableEasyButton{
  background-color: #bda8a8;
  color: black;
  font-weight: bold;
  float: left;
  padding: 6px;
}

.TableEasyRecords{
  color: #bda8a8;
  font-weight: bold;
  float: right;
  padding: 6px;
}

.TableEasySearch {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 100%;
  padding: 1px;
  border: 1px solid #ddd;
}

.TableEasy {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 100%;
}

.TableEasy th{
  background-color: #bda8a8;
  color: black;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 105%;
  border: 1px solid #ddd;
}

.TableEasy td {
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  font-size:95%;
  border: 1px solid #ddd;
}

.TableEasy tr {
  border-bottom: 1px solid #ddd;
}

.TableEasy tr.header, #myTable tr:hover {
  background-color: #bda8a8;
}
