/*Menu header*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-title {
    float: left;
    text-transform: uppercase;
}
.nav-li {
    float: right;
}

.nav-li a, .nav-title a {
    display: inline-block;
    color: white;
    padding: 14px 14px;
    text-decoration: none;
}


h1 {
    text-align: left;
    font-weight: bold;
    color=#333333;
}


h2 {
    text-align: left;
    font-weight: bold;
    color: #444444;
}

p.normal {
    text-align: justify;
    padding: 2px;
}

p.title {
    text-align: center;
    padding:2px;
/*    color: white;
    font-weight: bold;*/
}

/* DJANGO ALERTS
 */
.errorlist {
    color: red;
    font-weight: bold;
}


.alert-success {
    color:green;
    font-weight: bold
}

/*
 * DJANGO FORM TABLES
 */
form {
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
 margin-left: auto;
 margin-right: auto;
 display: inline-block;
}


div.layVertical {
    display: grid;
    grid-template-columns:100%;
    padding: 0px;
    margin: 0px;

}

div.layHorizontal {
    background: linear-gradient(#333333,#AAAAAA);
    display: grid;
    grid-template-columns: 25vw 75vw;
    padding: 0px;
    margin: 0px;

}

div.header{
    /*background: linear-gradient(to right, #333333,#AAAAAA);*/*/
    /*background-color: #333333;*/
    color: white;
    font-weight:bold;
    top: 0;
    height: 5vh;
    position:sticky;
}

div.sidebar{
/*    background: linear-gradient(#333333,#AAAAAA);*/
    color: white;
    font-weight:bold;
    text-decoration: none;
/*    top: 5vh;
    left: 0;*/
    height:100vh;
}


a.sidebar-a {
    color: white;
    font-weight:bold;
    text-decoration: none;
}

div.content {
    top: 5vh;
    left: 25vw;
    height: 95vh;
    overflow-y: auto;
    padding-left: 5vh;
    padding-right: 5vh;
    background-color: white;
    border-radius: 28px;
/*    border: 1px solid #BBBBBB;*/

 }


body {
    margin: 0px;
}

label {
    font-weight:bold;
}



/*Django Site-tree*/
.sitetree_menu ul li {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
/*    padding: 6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

}

.sitetree_menu ul ul li, .sitetree_menu ul ul {
    text-align: left;
    font-size: 18px;
}

.sitetree_menu  a {
    color: white;
/*    padding: 14px 14px;*/
    text-decoration: none;
}

.breadcrumbs , .breadcrumbs a {
    list-style-type: none;
    text-decoration: none;
    font-size: 10px;
    color: white;
    display: block;
    text-align: left;
    float: left;
}



.abix-tree-list li {
    list-style: none;
}

.abix-tree-list .collapsed span.icon, 
.abix-tree-list .expanded span.icon {
    margin-right: 6px;
    cursor: pointer;
}