/*Menu header*/
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}

.nav-li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


h1 {
    text-align: left;
    font-weight: bold;
    color=#333333;
}


h2 {
    text-align: left;
    font-weight: bold;
    color: #444444;
}

p {
    text-align: justify;
    padding: 2px;
}

/* DJANGO ALERTS
 */


.errorlist {
    color: red;
    font-weight: bold;
}


.alert-success {
    color:green;
    font-weight: bold
}

/*
 * DJANGO FORM TABLES
 */
form {
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
 margin-left: auto;
 margin-right: auto;
 display: inline-block;
}


div.layVertical {
    display: grid;
    grid-template-columns:100%;
    padding: 0px;
    margin: 0px;

}

div.layHorizontal {
/*    background: linear-gradient(#D0E0E0,white);*/
    background-color: white;
    display: grid;
    grid-template-columns: 25vw 75vw;
    padding: 0px;
    margin: 0px;

}

div.header{
    background: linear-gradient(to right, #333333,#AAAAAA);
    color: white;
    font-weight:bold;
    top: 0;
    height: 5vh;
    position:sticky;
}

div.sidebar{
    background: linear-gradient(#333333,#AAAAAA);
    color: white;
    font-weight:bold;
    text-decoration: none;
    top: 5vh;
    left: 0;
    height:95vh;
}


a.sidebar-a {
    color: white;
    font-weight:bold;
    text-decoration: none;
    
}

div.content {
    top: 5vh;
    left: 25vw;
    height: 95vh;
    overflow-y: scroll;
    padding-left: 5vh;
    padding-right: 5vh;
 }


body {
    margin: 0px;
}

label {
    font-weight:bold;
    
}