* {
  box-sizing: border-box;
}
.EasyTable {
    background: linear-gradient(#F0D5D5, white);
    border-radius: 14px;
    border: 1px solid #BBBBBB;
    padding: 8px;	
 margin-left: auto;
 margin-right: auto;
 display: inline-block;
}
.EasyTableButton{
  background-color: #bda8a8;
  color black;
  font-weight: bold;
  text-align: left;
  padding: 1px;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 1px;
  border: 1px solid #ddd;
  /*margin-bottom: 12px;*/
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th{
  background-color: #bda8a8;
  color black;
  text-align: left;
  padding: 1px;
}
#myTable td {
  text-align: left;
  padding: 1px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #bda8a8;
}
